body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.header__tittle{
    color: #8d2c2c;
}
.main__avatar{
    width: 10rem;
    height: 10rem;
    border: solid 0.2rem #8d2c2c;
    border-radius: 50%;
    margin: 1rem;
    background-color: #d8d8d8;
}